#!/bin/bash
## File managed by Ansible
## Do not manually edit, changes will be lost

{% if item[1].name == "tinc-up" -%}
{%- if (item[0].node | selectattr('name','equalto',inventory_hostname) | map(attribute='local_address') | default('') ) != '' -%}
ip addr add {{item[0].node | selectattr('name','equalto',inventory_hostname) | map(attribute='local_address') | list | first}} dev $INTERFACE
ip link set $INTERFACE up
{% endif -%}
{%- elif item[1].name == "tinc-down" -%}
{%- if (item[0].node | selectattr('name','equalto',inventory_hostname) | map(attribute='local_address') | default('') ) != '' -%}
ip link set $INTERFACE down
{% endif -%}
{% endif -%}
{% for line in item[1].contents -%}
{{line}}
{% endfor -%}
