#!/bin/bash
{% for host in item[0].node -%}
{%- if host.name == inventory_hostname and host.script is defined and host.script.local is defined and host['script']['local'][item[1].name] is defined -%}
{%- for line in host['script']['local'][item[1].name] -%}
{{line}}
{% endfor -%}
{% for host in item[0].master -%}
{%- if host.name == inventory_hostname and host.script is defined and host.script.local is defined and host['script']['local'][item[1].name] is defined -%}
{%- for line in host['script']['local'][item[1].name] -%}
{{line}}
{% endfor -%}
{% for line in item[1].contents -%}
{{line}}
{% endfor -%}
